[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
mlflow = "*"
scikit-learn = "==1.5.2"

[dev-packages]
pytest = "*"
deepdiff = "*"
pylint = "==3.0.3"
black = "*"
isort = "*"
pre-commit = "*"